# 環境變數
.env
.env.local
.env.*.local

# Node 模組
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# 系統檔案
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project

# 其他
dist/
build/s